
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.link.starred {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(left, #fefcea 50%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fefcea 50%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fefcea 50%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 */
}

.link .timestamps {
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease-out;
}

.link:hover .timestamps {
  height: 1.6em;
}

.link .timestamps UL {
  margin: 0;
  padding: 0;
}

.link .timestamps UL LI {
  list-style-type: none;
  float: left;
  margin-left: 0.5em;
  border-left: solid 1px #000000;
  padding-left: 0.5em;
}

.link .timestamps UL LI:first-of-type {
  margin: 0;
  padding: 0;
  border: 0;
}